<header [quantidadeItensCarrinho]="1" [mostrarBarraPesquisa]="false"></header>
<menu-bar></menu-bar>

<div class="container-pedidos">

    <div class="label-pedidos">
        <h2> Meus Pedidos </h2>
    </div>

    <div class="grid p-fluid">
        <div class="col-12 md:col-6">
            <div class="card">
                <div class="titulo">
                    <h4> Pedido: 1255 </h4>
                </div>

                <div class="info">
                    <div class="grid">
                        <label for="nome" class="col-12 md:col-2 label-info"> Número: </label>
                        <div class="col-12 md:col-8">
                            <input id="nome" pInputText type="text" [(ngModel)]="numeroPedido" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="cpf" class="col-12 md:col-2 label-info"> Cliente: </label>
                        <div class="col-12 md:col-8">
                            <input id="cpf" pInputText type="text" [(ngModel)]="nomeCliente" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="email" class="col-12 md:col-2 label-info"> Status: </label>
                        <div class="col-12 md:col-8">
                            <input id="email" pInputText type="text" [(ngModel)]="statusCliente" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="telefone" class="col-12 md:col-2 label-info"> Data: </label>
                        <div class="col-12 md:col-8">
                            <input id="telefone" pInputText type="text" [(ngModel)]="dataPedido" readonly/>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 md:col-6">
            <div class="card">
                <div class="titulo">
                    <h4> Pedido: 1379 </h4>
                </div>

                <div class="info">
                    <div class="grid">
                        <label for="nome" class="col-12 md:col-2 label-info"> Número: </label>
                        <div class="col-12 md:col-8">
                            <input id="nome" pInputText type="text" [(ngModel)]="numeroPedido" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="cpf" class="col-12 md:col-2 label-info"> Cliente: </label>
                        <div class="col-12 md:col-8">
                            <input id="cpf" pInputText type="text" [(ngModel)]="nomeCliente" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="email" class="col-12 md:col-2 label-info"> Status: </label>
                        <div class="col-12 md:col-8">
                            <input id="email" pInputText type="text" [(ngModel)]="statusCliente" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="telefone" class="col-12 md:col-2 label-info"> Data: </label>
                        <div class="col-12 md:col-8">
                            <input id="telefone" pInputText type="text" [(ngModel)]="dataPedido" readonly/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="grid p-fluid">
        <div class="col-12 md:col-6">
            <div class="card">
                <div class="titulo">
                    <h4> Pedido: 1139 </h4>
                </div>

                <div class="info">
                    <div class="grid">
                        <label for="nome" class="col-12 md:col-2 label-info"> Número: </label>
                        <div class="col-12 md:col-8">
                            <input id="nome" pInputText type="text" [(ngModel)]="numeroPedido" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="cpf" class="col-12 md:col-2 label-info"> Cliente: </label>
                        <div class="col-12 md:col-8">
                            <input id="cpf" pInputText type="text" [(ngModel)]="nomeCliente" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="email" class="col-12 md:col-2 label-info"> Status: </label>
                        <div class="col-12 md:col-8">
                            <input id="email" pInputText type="text" [(ngModel)]="statusCliente" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="telefone" class="col-12 md:col-2 label-info"> Data: </label>
                        <div class="col-12 md:col-8">
                            <input id="telefone" pInputText type="text" [(ngModel)]="dataPedido" readonly/>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 md:col-6">
            <div class="card">
                <div class="titulo">
                    <h4> Pedido: 1211 </h4>
                </div>

                <div class="info">
                    <div class="grid">
                        <label for="nome" class="col-12 md:col-2 label-info"> Número: </label>
                        <div class="col-12 md:col-8">
                            <input id="nome" pInputText type="text" [(ngModel)]="numeroPedido" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="cpf" class="col-12 md:col-2 label-info"> Cliente: </label>
                        <div class="col-12 md:col-8">
                            <input id="cpf" pInputText type="text" [(ngModel)]="nomeCliente" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="email" class="col-12 md:col-2 label-info"> Status: </label>
                        <div class="col-12 md:col-8">
                            <input id="email" pInputText type="text" [(ngModel)]="statusCliente" readonly/>
                        </div>
                    </div>

                    <div class="grid">
                        <label for="telefone" class="col-12 md:col-2 label-info"> Data: </label>
                        <div class="col-12 md:col-8">
                            <input id="telefone" pInputText type="text" [(ngModel)]="dataPedido" readonly/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
