<header [quantidadeItensCarrinho]="listaProdutosCarrinhoDTO.length"></header>
<menu-bar></menu-bar>

<div class="container-carrinho">
    <p-breadcrumb [model]="itemsBreadCrumb"></p-breadcrumb>

    <div class="label-carrinho">
        <h2> Meu Carrinho </h2>
    </div>

    <div class="grid p-fluid">
        <div class="col-12 md:col-9">
            <div class="card">
                <p-dataView [value]="listaProdutosCarrinhoDTO">
                    <ng-template pTemplate="list" let-listaProdutosCarrinhoDTO>
                        <div class="grid grid-nogutter">

                            <div class="container-cabecalho">
                                <div class="itens">
                                    <span> Itens </span>
                                </div>

                                <div class="atributos">
                                    <span class="label-quantidade"> Qtd. </span>
                                    <span class="label-preco"> Preço </span>
                                </div>
                            </div>

                            <div class="col-12" *ngFor="let produtoCarrinhoDTO of listaProdutosCarrinhoDTO">
                                <div class="card-produto">
                                    <img [src]="produtoCarrinhoDTO.listaUrlImagens[0]" [alt]="produtoCarrinhoDTO.nome" class="imagem-produto"/>

                                    <div class="container-info-produto">
                                        <div class="container-descricao-produto">
                                            <div>
                                                <span class="categoria-produto">
                                                    {{ produtoCarrinhoDTO.nomeCategoria }}
                                                </span>
                                                <div class="nome-produto">
                                                    {{ produtoCarrinhoDTO.nome }}
                                                </div>
                                            </div>

                                            <div class="avaliacao-produto">
                                                <span>
                                                    {{ produtoCarrinhoDTO.avaliacaoProduto }}
                                                </span>
                                                <i class="pi pi-star-fill"></i>
                                            </div>
                                        </div>

                                        <div class="container-atributos-produto">
                                            <p-inputGroup class="input-group w-full">
                                                <button pButton pRipple icon="pi pi-plus-circle" (click)="adicionarQuantidadeProduto(produtoCarrinhoDTO)"></button>

                                                <input type="text" pInputText [(ngModel)]="produtoCarrinhoDTO.quantidadeProduto" maxlength="10"
                                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" >

                                                <button pButton pRipple icon="pi pi-minus-circle" (click)="removerQuantidadeProduto(produtoCarrinhoDTO)"></button>
                                            </p-inputGroup>

                                            <span class="preco-produto">
                                                {{ produtoCarrinhoDTO.preco  | currency: 'BRL':true:'1.2-2' }}
                                            </span>

                                            <p-button icon="pi pi-trash" class="btn-remover" [outlined]="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </p-dataView>
            </div>
        </div>

        <div class="col-12 md:col-3">
            <div class="card">
                <div class="resumo-compra">
                    <div class="label-resumo-compra">
                        <h4> Resumo da Compra </h4>
                    </div>

                    <div class="subtotal linha-resumo">
                        <span> Subtotal </span>
                        <span>
                            {{ valorTotalCarrinho | currency: 'BRL':true:'1.2-2' }}
                        </span>
                    </div>

                    <div class="total linha-resumo">
                        <span> Total </span>
                        <span>
                            {{ valorTotalCarrinho | currency: 'BRL':true:'1.2-2' }}
                        </span>
                    </div>

                    <div class="btn-resumo">
                        <button pButton pRipple label="Finalizar Compra" icon="pi pi-shopping-cart" (click)="finalizarCompra()"></button>
                        <button pButton pRipple label="Continuar Comprando" icon="pi pi-arrow-left" (click)="voltarParaPaginaInicial()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
