<header [quantidadeItensCarrinho]="1" [mostrarBarraPesquisa]="false"></header>

<menu-bar></menu-bar>

<div class="container-login">
    <div class="card card-login">

        <div class="botoes-formulario">
            <div class="botao-selecionado" [ngStyle]="{'transform': movimentacaoBotao}"></div>
            <button pButton label="Login" (click)="mudarFormulario('login')" [class.active]="formularioAtual === 'login'"></button>
            <button pButton label="Cadastro" (click)="mudarFormulario('cadastro')" [class.active]="formularioAtual === 'cadastro'"></button>
        </div>

        <div class="container-formularios" [ngStyle]="{'transform': movimentacaoFormulario}">

            <!-- FORMULÁRIO LOGIN -->
            <form class="formulario">
                <h3 class="label-formulario"> Acesse sua conta </h3>

                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input id="emailLogin" name="emailLogin" type="text" pInputText [(ngModel)]="emailLogin" maxlength="50"/>
                    <label for="emailLogin"> Email </label>
                </span>

                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-lock"></i>
                    <p-password inputId="senhaLogin" name="senhaLogin"
                        [(ngModel)]="senhaLogin"
                        [toggleMask]="true"
                        promptLabel="A senha deve conter letras, caracteres e números"
                        weakLabel="Muito fraca"
                        mediumLabel="Média"
                        strongLabel="Segura"
                        maxlength="15"
                        styleClass="w-full">

                        <ng-template pTemplate="footer">
                            <p-divider />
                            <p class="mt-2"> Sugestões </p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li> Pelo menos uma letra maiúscula </li>
                                <li> Pelo menos uma letra minúscula </li>
                                <li> Pelo menos um número </li>
                                <li> Mínimo de 8 caracteres </li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <label for="senhaLogin"> Senha </label>
                </span>

                <div class="label-esqueci-senha">
                    <a> Esqueci minha senha </a>
                </div>

                <button pButton pRipple label="ENTRAR" icon="pi pi-sign-in" class="btn-formulario" (click)="acessarConta()"></button>
            </form>

            <!-- FORMULÁRIO CADASTRO -->
            <form class="formulario" [formGroup]="formulario">
                <h3 class="label-formulario"> Crie sua conta </h3>

                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input id="nome" name="nomeCadastro" type="text" pInputText formControlName="nome" maxlength="50"/>
                    <label for="nome"> Nome </label>
                </span>

                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-phone"></i>
                    <p-inputMask inputId="telefone" name="telefone" mask="(99) 99999-9999" formControlName="telefone"></p-inputMask>
                    <label for="telefone"> Telefone </label>
                </span>

                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-pencil"></i>
                    <p-inputMask inputId="cpf" name="cpf" mask="999.999.999-99" formControlName="cpf"></p-inputMask>
                    <label for="cpf"> CPF </label>
                </span>

                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-envelope"></i>
                    <input id="email" name="email" type="text" pInputText formControlName="email" maxlength="50"/>
                    <label for="email"> Email </label>
                </span>

                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-lock"></i>
                    <p-password inputId="senha" name="senha"
                        formControlName="senha"
                        [toggleMask]="true"
                        promptLabel="A senha deve conter letras, caracteres e números"
                        weakLabel="Muito fraca"
                        mediumLabel="Média"
                        strongLabel="Segura"
                        maxlength="15"
                        styleClass="w-full">

                        <ng-template pTemplate="footer">
                            <p-divider />
                            <p class="mt-2"> Sugestões </p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li> Pelo menos uma letra maiúscula </li>
                                <li> Pelo menos uma letra minúscula </li>
                                <li> Pelo menos um número </li>
                                <li> Mínimo de 8 caracteres </li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <label for="senha"> Senha </label>
                </span>

                <button pButton pRipple label="CADASTRAR" icon="pi pi-check-square" class="btn-formulario" (click)="cadastrar()"></button>
            </form>
        </div>

    </div>
</div>
