<header></header>
<menu-bar></menu-bar>

<div class="card container-principal">
    <div class="col-12 container-carrossel">
        <p-carousel [value]="listaNomesBarners" [circular]="true" [autoplayInterval]="10000">
            <ng-template let-nomeBarner pTemplate="item">
                <div class="col-12">
                    <img src="assets/layout/images/barners/{{nomeBarner}}" class="imagem-carrossel"/>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <div class="col-12 container-produtos">
        <p-dataView [value]="listaProdutos" layout="grid">
            <ng-template pTemplate="gridItem">
                <div class="grid grid-nogutter">
                    <div class="col-12 md:col-4" *ngFor="let produto of listaProdutos">

                        <div class="card card-produto">
                            <img [src]="produto.listaUrlImagensProduto[0]" [alt]="produto.nome" class="imagem-produto"/>

                            <div class="nome-produto" [pTooltip]="produto.nome">
                                {{ produto.nome.length > 23 ? (produto.nome | slice:0:23) + '...' : produto.nome }}
                            </div>

                            <p-rating [ngModel]="produto.avaliacaoProduto" class="avaliacao-produto" [cancel]="false" />

                            <span class="preco-produto">
                                {{ produto.preco | currency: 'BRL':true:'1.2-2' }}
                            </span>

                            <button pButton pRipple class="btn-adicionar" label="Adicionar" icon="pi pi-shopping-cart" (click)="adicionarAoCarrinho(produto)"></button>
                        </div>

                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

