<header [quantidadeItensCarrinho]="quantidadeProdutos" (produtosPesquisados)="receberProdutosPesquisados($event)"></header>
<menu-bar></menu-bar>

<div class="card container-principal">
    <div class="col-12 container-carrossel">
        <p-carousel [value]="listaNomesBarners" [circular]="true" [autoplayInterval]="10000">
            <ng-template let-nomeBarner pTemplate="item">
                <div class="col-12">
                    <img src="assets/layout/images/barners/{{nomeBarner}}" class="imagem-carrossel"/>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <div class="col-12 container-produtos">
        <p-dataView [value]="listaProdutosDTO" layout="grid" emptyMessage="Nenhum produto encontrado.">
            <ng-template pTemplate="gridItem">
                <div class="grid grid-nogutter">
                    <div class="col-12 md:col-4" *ngFor="let produtoDTO of listaProdutosDTO">

                        <div class="card card-produto">
                            <img [src]="produtoDTO.listaUrlImagens[0]" [alt]="produtoDTO.nome" class="imagem-produto"/>

                            <div class="nome-produto" [pTooltip]="produtoDTO.nome">
                                {{ produtoDTO.nome.length > 23 ? (produtoDTO.nome | slice:0:23) + '...' : produtoDTO.nome }}
                            </div>

                            <div class="categoria-produto">
                                <i class="pi pi-tag"></i>
                                <span>
                                    {{ produtoDTO.nomeCategoria }}
                                </span>
                            </div>

                            <p-rating [ngModel]="produtoDTO.avaliacaoProduto" class="avaliacao-produto" [readonly]="true" [cancel]="false" />

                            <span class="preco-produto">
                                {{ produtoDTO.preco | currency: 'BRL':true:'1.2-2' }}
                            </span>

                            <button pButton pRipple class="btn-adicionar" label="Adicionar" icon="pi pi-shopping-cart" (click)="adicionarAoCarrinho(produtoDTO)"></button>
                        </div>

                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

